header {
	background-color: var(--defaults-primary-background-primary, #fff);
	height: 64px;
	display: flex;
	align-items: center;
	padding: 0 1rem;
	justify-content: space-between;
	border-bottom: 1px solid var(--defaults-tertiary-border-tertiary, #d9dadc);
}

.header-container {
	display: flex;
	align-items: center;
}
